<launch>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
      <rosparam file="$(find bixi_nav)/config/dwa/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find bixi_nav)/config/g/dwa/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find bixi_nav)/config/g/dwa/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find bixi_nav)/config/g/dwa/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find bixi_nav)/config/g/dwa/base_local_planner_params.yaml" command="load" />
  </node>
  
</launch>
